@import '@streamme/style-driver/dark';

body {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&:after {
		content: '';
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 90%);
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

p {
	color: #aeaeae;
}

#app {
	position: relative;
	z-index: 2;
	max-width: 50em;
	margin: 0 auto;
	min-height: 100%;
}

.draggable-bar {
	position: fixed;
	-webkit-app-region: drag;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	height: 1.5rem;
	background: rgba(255, 100, 150, .1);
	transition: background .2s ease;
	cursor: move;

	&:hover {
		background: rgba(255, 100, 150, .3);
	}
}

.primary-header {
	padding-bottom: 2em;
}

.emphasis {
	color: $color-brand;
}

.field {
	position: relative;
	padding: .5em;
	margin: 0 auto 1em;
	overflow: hidden;
	width: 26em;

	label {
		color: $color-text-emphasize;
		float: left;
		width: 6em;
		padding: 1em;
		text-align: right;
	}

	input {
		float: left;
		width: 15em;
		border: none;
		padding: 1em;
		color: $color-card-background;
		border-bottom: 2px solid transparent;

		&:focus {
			outline: none;
			border-bottom: 2px solid $color-card-background;
		}

		&.empty:invalid {
			border-bottom: 2px solid transparent;
		}

		&:invalid {
			border-bottom: 2px solid $color-error;
		}

		&:valid {
			border-bottom: 2px solid $color-success;
		}
	}

}

button[type=submit] {
	&:disabled {
		background: $color-disabled;
	}
}

.clippee {
	transition: background .2s ease;
	position: relative;

	.tooltip {
		display: none;
		position: absolute;
		bottom: -2.5em;
		left: -4em;
		width: 11em;
		background: $color-contrast;
		border-radius: .5em;
		padding: .5em;

		&:before {
			content: '';
			position: absolute;
			top: -0.8em;
			left: 50%;
			margin-left: -.5em;
			width: 0;
			height: 0;
			border: .5em solid transparent;
			border-bottom: .5em solid $color-contrast;
		}
	}

	&:before {
		@include icon('paper');
	}

	&:hover .tooltip {
		display: block;
	}

	&.coppied .clippee {
		background: $color-success;
	}
}

.flyout-container {
	position: relative;
}

.flyout {
	display: none;
	position: absolute;
	width: 100%;
	right: 0;
	background: #FFF;
	list-style: none;
	text-align: left;
	padding-left: 0;

	.open & {
		display: block;
	}

	.origin {
		padding: .5em 1em;
		cursor: pointer;

		&:hover {
			background: #CCC;
			color: $color-text-deemphasize;
		}
	}
}

.loading {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	font-size: 1.2em;
	width: 100%;
	text-align: center;
	padding: 1em;
	top: 0;
	bottom: 0;
	height: 100%;
}

.loading-dot {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 1em;
	height: 1em;
	margin: 0 .25em;
	background-color: #fff;
	border-radius: 100%;
	display: inline-block;
	animation: bouncedelay 1.4s infinite ease-in-out;
	animation-delay: -0.16s;

	&:first-child {
		left: 47%;
		animation-delay: -0.32s;
	}

	&:last-child {
		left: 53%;
		animation-delay: 0;
	}
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
	}
}

.messages {
	width: 100%;
	padding-top: 1em;
	background: $color-contrast;
	color: $color-text-emphasize;

	.message {
		padding: 1em;

		&:before {
			font-size: 1.2em;
			vertical-align: bottom;
			margin-right: .25em;
		}
	}

	.error:before {
		@include icon('exclaim');
	}
	.success:before {
		@include icon('check');
	}
}

.page-change-enter {
	position: absolute;
	top: -1em;
	opacity: .01;
	left: 0;
	width: 100%;

	&.page-change-enter-active {
		top: 0;
		opacity: 1;
		transition: opacity, .5s ease, top .3s ease-in;
	}
}

.page-change-leave {
	opacity: 0.01;

	&.page-change-leave-active {
		opacity: 0;
		transition: opacity .3s ease-in;
	}
}

.signup,
.start-stream {
	padding: 5rem 2rem;
	text-align: center;
}

.intro-section,
.obs-setup,
.manual-setup {
	margin: 1em 0 3em;
}

.auto-obs-setup:before {
	@include icon('robot');
	margin-right: .5em;
	font-size: 1.5em;
	vertical-align: bottom;
}

.stream-key-toggle {
	margin-bottom: 1em;

	&:after {
		@include icon('down-caret');
		vertical-align: bottom;
		font-size: 1.3em;
		margin-left: .25em;
	}

	&.showing:after {
		@include icon('up-caret', false);
	}
}

.stream-key-wrapper,
.origin-server-wrapper {
	width: 22em;
	margin: 0 auto 1em;
	display: flex;
}

.stream-key-copy {
	display: block;
	padding: 1em;
}

.stream-key-text {
	width: 100%;
	background: #FFF;
	padding: .75em;
	vertical-align: middle;
	text-align: left;
}

.stream-key-reset,
.logout {
	background: none;
	padding: 0;
	color: $color-contrast;
	text-decoration: none;
	transition: color $timing ease;
	border-bottom: 1px dotted $color-text-default;

	&:hover {
		background: none;
		color: $color-action;
	}
}

.stream-key-reset:before {
	@include icon('refresh');
	font-size: 1.3em;
	vertical-align: bottom;
	margin-right: .25em;
}

.origin-server .clippee {
	width: 3em;
	height: 3.25em;
}

.origins-toggle {
	background: #FFF;
	color: $color-text-default;
	text-align: left;
	width: 100%;
	
	&:hover {
		background: #FFF;
		color: $color-text-deemphasize;
	}
}

.origins {
	width: 100%;
}

.view-stream {
	height: 100%;
	width: 100%;
}

.stream {
	position: relative;
	z-index: 3;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	.stream-embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}

}

.chat {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;

	.chat-embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding-top: 56.25%;
		border: none;
	}
}

.logout {
	position: absolute;
	bottom: 2em;
}
